<h1> <%= @merchant.name %> Discounts </h1>

<% @merchant.discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
      <h3> <%= link_to "View Discount #{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %> </h3>
      <p>Percent Discount: <%= discount.percent %>%</p>
      <p>Quantity Threshold: <%= discount.threshold %></p>
      <p><%= link_to "Delete Discount #{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></p>
    </div>
    <% end %>

    <p><%= link_to "Create New Discount", "/merchants/#{@merchant.id}/discounts/new" %> </p>

<h3>Upcoming Holidays</h3>
  <% search = HolidaySearch.new %>
  <% search.holiday_info.each do |holiday| %>
      <p>Name: <%= holiday.name %></p>
      <p>Date: <%= holiday.date %></p>
  <% end %>
